[Sources]
d2sec:      https://www.d2sec.com/exploits/elliot.xml
exploitdb:  https://github.com/offensive-security/exploit-database/raw/master/files.csv
iavm:       http://iasecontent.disa.mil/stigs/xls/iavm-to-cve(u).xls
msbulletin: https://download.microsoft.com/download/6/7/3/673E4349-1CA5-40B9-8879-095C72D5B49D/BulletinSearch.xlsx
oval:       https://oval.cisecurity.org/repository/download/5.11.1/all/oval.xml.zip
refmap:     https://cve.mitre.org/data/refs/refmap/allrefmaps.zip
rhsa:       https://www.redhat.com/security/data/oval/com.redhat.rhsa-all.xml.bz2
rpm:        https://www.redhat.com/security/data/metrics/rpm-to-cve.xml
saint:      https://www.saintcorporation.com/xml/exploits.xml

[vulners]
# api key from vulners
api_key=XXXXXXXXXXXXXXXXXX

[msbulletin]
# api key for ms bullletins api
api_key=XXXXXXXXXX

[Settings]
exitWhenNoSource: True

[Proxy]
http:
